<% if(results.length > 0 && options.showDateRange) { %>
	<button class="accordion" alt="Date Range" name="Date-Range_collapsible">
		<h4>Date Range</h4><i class="fas fa-caret-right facet-caret"></i>
	</button>
	<div id="daterange-window" class="panel facet-panel panel-collapsed" style="display: none">
		<form id="daterange-form" class="" action="javascript:submitDateRange()">
			<div class="form-group">
				<label for="date-from">From:</label>
		        <input type="text" id="date-from" class="form-control sliderValue" name="from" title="Start Date" data-index="0" value="<%= fromDate %>" />
		    </div>
		    <div class="form-group">
		    	<label for="date-to">To:</label>
		        <input type="text" id="date-to" class="form-control sliderValue" name="to" title="End Date" data-index="1" value="<%= toDate %>" />
		    </div>
		    <br />
		    <div id="slider"></div>
		    <br />
		    <button class="btn btn-default" type="submit">Set</button>
		</form>
	</div>
<% } %>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="<%- root_url %>/assets/js/daterange-limiter.js" type="text/javascript"></script>
<script>
	$( document ).ready(function() {
		initDaterangeSlider(<%= fromDate %>, <%= toDate %>)
	});
</script>