<div class="facets">
	<!-- dynamic facet list -->
	<% for(var key in facets) { %>	
	  <% if(facets[key] != "") { %>
	  	<% if(expandFacets.includes(key)) { %>
	  	  <button class="accordion active" alt="<%= key %>" name="<%= key %>_collapsible">
	  	  	<h4><%= key %></h4><i class="fas fa-caret-down facet-caret"></i>
	  	<% } else { %>
	  	  <button class="accordion" alt="<%= key %>" name="<%= key %>_collapsible">
	  	  	<h4><%= key %></h4><i class="fas fa-caret-right facet-caret"></i>
	  	<% } %>
	    </button>
		<%- facets[key] %>
	  <% } %>
	<% } %>

	<script type="text/javascript">

		function selectFacet(facetType, facet, baseUrl) {

			// Url encode spaces for querystring
			facet = facet.replace(' ', '%20');

			var searchUrl = window.location.href,
				facetParam = "";

			// Remove page param from url if it is there.  Facet update will show updated results from page 1
			searchUrl = searchUrl.replace(/page=[1234567890]*/g, "");
			
			// Create the facet parameter string.  Use ? if the url containd no parameters	
			if(searchUrl.indexOf("?") < 0) {
				facetParam += "?";
			}
			else {
				facetParam += "&";
			}
			facetParam += "f[" + facetType + "][]=" + facet;

			// Add the selected facet param to the search querystring, if it has not been added yetf
			if(searchUrl.indexOf(facetParam) <= 0) {
				searchUrl += facetParam;
			}

			// Remove showAll params
			searchUrl = searchUrl.replace(/&showAll\[\]=[a-zA-Z]+/g, "");

			// // Flag the expanded facet panels for page reload
			var accordions = document.getElementsByClassName("accordion");
			for(var i=0; i<accordions.length; i++) {
				if(accordions[i].classList.contains("active")) {
					searchUrl += "&expand[]=" + accordions[i].name.replace("_collapsible", "");
				}
			}

			return searchUrl;
		};

		function removeFacet(facetType, facet, baseUrl) {

			// Get current search querystring
			var searchUrl = window.location.href,
				facetParam = "";

			// Remove page param from url if it is there.  Facet update will show updated results from page 1
			searchUrl = searchUrl.replace(/page=[1234567890]*/g, "");

			// Create the facet parameter string.  Use ? if the url containd no parameters	
			if(searchUrl.indexOf("?f") > 0) {
				facetParam += "?f";
			}
			else {
				facetParam += "&f";
			}

			// Get the facet param string to remove from the search querystring
			facetParam += "[" + facetType + "][]=" + facet;
			facetParam = facetParam.replace(/\s/g, "%20");

			// Remove the selected facet param from the search querystring
			searchUrl = searchUrl.replace(facetParam, "");

			return searchUrl;
		};

		function showAllFacets(facetType) {
			var searchUrl = window.location.href;

			document.getElementById("show-facets").innerHTML = "<img src='assets/img/spinner1.gif' height='33' width='33' />";

			// Flag the expanded facet panels for page reload
			var accordions = document.getElementsByClassName("accordion");
			for(var i=0; i<accordions.length; i++) {
				if(accordions[i].classList.contains("active")) {
					searchUrl += "&expand[]=" + accordions[i].name.replace("_collapsible", "");
				}
			}

			return searchUrl += "&showAll[]=" + facetType;
		};

		function showLessFacets(facetType) {
			return window.location.href.replace("&showAll[]=" + facetType, "");
		};

	</script>


</div>