	</div><!-- div#main-container -->
		<footer>

		  <div class="footer-content container">
		      <div class="footer-column">
		      	<div class="footer-link-list">
		      		<label>About</label>
		      		<ul>
			      		<li><a href="<%- root_url %>/about/overview">Special Collections @ DU Overview</a></li>
			      		<li><a href="<%- root_url %>/about/contact">Contact Us</a></li>
			      		<li><a href="<%- root_url %>/about/faqs">FAQs</a></li>
		      		</ul>
		      	</div>
		      </div>
		      <div class="footer-column">
		      	<div class="footer-link-list">
		      		<label>Contact</label>
		      		<ul>
			      		<li><a href="<%- root_url %>/content/copyright-information">Copyright Information</a></li>
		      		</ul>
		      	</div>
		      </div>
		      <div class="footer-column">
		      	<div class="footer-link-list">
		      		<label>Services</label>
		      		<ul>
			      		<li><a href="<%- root_url %>/services/consultation-and-training">Consultation and Training</a></li>
			      		<li><a href="<%- root_url %>/services/digital-content-management">Digital Content Management</a></li>
		      		</ul>
		      	</div>
		      </div>
		      <div class="footer-column">
		      	<div class="footer-link-list">
		      		<label>Help</label>
		      		<ul>
			      		<li><a href="<%- root_url %>/help/glossary">Glossary</a></li>
		      		</ul>
		      	</div>
		      </div>
		  </div>
		</footer>
	</div><!--div#wrapper -->
</body>

<script src="//use.fontawesome.com/c125e4ca3b.js"></script>

<script src="<%- root_url %>/assets/js/jquery.validate.min.js"></script>
<script src="//vjs.zencdn.net/5.8.8/video.js"></script>
<script src="<%- root_url %>/assets/js/accordion.js"></script>
<script src="<%- root_url %>/assets/js/clickevents.js"></script>
<script src="<%- root_url %>/libs/universalviewer/uv/uv.js"></script>

</html>