	</div><!--page wrapper -->
		</main><!-- main page content container -->

		<footer class="digitaldu-footer">	
		  <div class="footer-wrapper">
		  	<div class="footer-content row">

		      <div class="col-md-3 footer-column">
		      	<div class="footer-link-list">
		      		<label>About</label>
		      		<ul>
			      		<li><a href="<%- root_url %>/about/contact">Contact Us</a></li>

		      		</ul>
		      	</div>
		      </div>

		      <div class="col-md-3 footer-column">
		      	<div class="footer-link-list">
		      		<label>For Researchers</label>
		      		<ul>
			      		<li><a href="<%- root_url %>/content/copyright-information">Copyright Information</a></li>
		      		</ul>
		      	</div>
		      </div>
		 
		    </div>

		  </div>

		</footer>

		<footer>
			<%- include('./copyright-banner') -%>
		</footer>

	</div><!-- template wrapper #main-wrapper -->
</body>

<script src="<%- root_url %>/assets/js/external/fontawesome_c125e4ca3b.js"></script>
<script src="<%- root_url %>/assets/js/external/jquery.validate-1.19.5.min.js"></script> <!-- -->
<script src="<%- root_url %>/assets/js/accordion.js"></script>
<script src="<%- root_url %>/assets/js/external/purify.min.js"></script>
<script src="<%- root_url %>/libs/universalviewer/dist/uv.js"></script>

</html>
