<!-- Static frontpage facets -->

<div id="facets">
 <button id="type-facet" class="accordion active">
    <h5>Type</h5><i class="fas fa-caret-down facet-caret"></i>
  </button>
  <div class="panel fixed-facets" style="display: block">
    <ul>
      <li><span class="facet-thumbnail"><img src="assets/img/picture-in-frame-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Still Image', '<%= root_url %>');">Still Image</a></span><span class="facet-count">(<%= typeCount.stillImage %>)</span></li>
      <li><span id="moving-image-facet-tn" class="facet-thumbnail"><img src="assets/img/film-camera-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Moving Image', '<%= root_url %>');">Moving Image</a></span><span class="facet-count">(<%= typeCount.movingImage %>)</span></li>
      <li><span id="text-facet-tn" class="facet-thumbnail"><img src="assets/img/old-book-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Text', '<%= root_url %>');">Text</a></span><span class="facet-count">(<%= typeCount.text %>)</span></li>
      <li><span id="sound-recording-facet-tn" class="facet-thumbnail"><img src="assets/img/Sound-Wave-icon-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Sound Recording', '<%= root_url %>');">Sound Recording</a></span><span class="facet-count">(<%= typeCount.soundRecording + typeCount.soundRecordingMusical + typeCount.soundRecordingNonMusical %>)</span></li>
      <li><span id="sound-recording-musical-facet-tn" class="facet-thumbnail"><img src="assets/img/45_rpm_record-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Music Recording', '<%= root_url %>');">Music Recording</a></span><span class="facet-count">(<%= typeCount.soundRecordingMusical %>)</span></li>
      <li><span id="sound-recording-nonmusical-facet-tn" class="facet-thumbnail"><img src="assets/img/mic-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Nonmusic Recording', '<%= root_url %>');">Nonmusic Recording</a></span><span class="facet-count">(<%= typeCount.soundRecordingNonMusical %>)</span></li>
      <li><span id="map-facet-tn" class="facet-thumbnail"><img src="assets/img/map-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Map', '<%= root_url %>');">Map</a></span><span class="facet-count">(<%= typeCount.map %>)</span></li>
      <li><span id="mixed-facet-tn" class="facet-thumbnail"><img src="assets/img/document-icon-free-0-TN.jpg"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', 'Mixed Material', '<%= root_url %>');">Mixed Material</a></span><span class="facet-count">(<%= typeCount.mixedMaterial %>)</span></li>
      <li><span id="threeD-facet-tn" class="facet-thumbnail"><img src="assets/img/objects-icon-TN.png"/></span><span class="facet-name"><a href="javascript:document.location.href=selectFacet('Type', '3D Object', '<%= root_url %>');">3D Object</a></span><span class="facet-count">(<%= typeCount.threeDObject %>)</span></li>
    </ul>
  </div>

  <% for(var key in facets) { %>
    <% if(key != 'Type' && key != 'type') { %>
      <button class="accordion">
        <h5><%= key %></h5><i class="fas fa-caret-right facet-caret"></i>
      </button>
      <%- facets[key] %>
    <% } %>%>
  <% } %>

  <script type="text/javascript">

    function selectFacet(facetType, facet, baseurl) {
      // Handle unmatching facet label names to their correct facet value
      switch(facet) {
        case "Music Recording":
          facet = "sound recording-musical";
          break;
        case "Nonmusic Recording":
          facet = "sound recording-nonmusical";
          break;
        case "Map":
          facet = "cartographic";
          break;
        case "3D Object":
          facet = "three dimensional object";
          break;
        default:
          break;
      }

      // Url encode spaces for querystring
      facet = facet.replace(' ', '%20');

      // Get search querystring
      var searchUrl = baseurl + "/search?type=all&q=&f[" + facetType + "][]=" + facet;

      return searchUrl;
    };

    function removeFacet(facetType, facet) {

      // Get the facet param string to remove from the search querystring
      var facetParam = "&f[" + facetType + "][]=" + facet;
      facetParam = facetParam.replace(/\s/g, "%20");

      // Get current search querystring
      url = window.location.href;

      // Remove the selected facet param from the search querystring
      var searchUrl = url.replace(facetParam, "");

      return searchUrl;
    };

  </script>

</div>