<div class="facets home-facets">

  <!-- Object type list -->
  <button id="type-facet" class="accordion active">
    <h4><%= typeLabel %></h4><i class="fas fa-caret-down facet-caret"></i>
  </button>
  <div class="static-facets panel" style="display: block;">
    <ul class="list-group">
      <% for(var key in typeList) { %>
        <li class="list-group-item">
          <div class="row">
            <% if(typeList[key].thumbnail) { %>
              <div class="col-md-2-nostack facet-thumbnail"><img src="<%= typeList[key].thumbnail %>" alt="<%= key %>"/></div>
            <% } else { %>
              <div class="col-md-2-nostack facet-thumbnail"><div style="min-height: 25px"></div></div>
            <% } %>
            <div class="col-md-8-nostack facet-name"><a onclick="selectFacet('<%= typeLabel %>', '<%= typeList[key].key %>', '<%= root_url %>')"><%= key %></a></div>
            <div class="col-md-2-nostack facet-count"><div>(<%= typeList[key].count %>)</div></div>
          </div>
        </li>
      <% } %>
    </ul>
  </div>

  <!-- Collection list -->
  <button class="accordion" alt="Collections">
    <h4>Collections</h4><i class="fas fa-caret-right facet-caret"></i>
  </button>
  <div id="collections-window" class="panel facet-panel panel-collapsed">
    <ul>
      <% for(var index in allCollections) { %>
        <li><span class="facet-name"><a href="<%- root_url %><%= allCollections[index].path %>/<%= allCollections[index].pid %>" title="<%= allCollections[index].title %>"><%= allCollections[index].title %></a></span></li>
      <% } %>
    </ul>
  </div>

  <!-- Other facets -->
  <% for(var key in facets) { %>
    <% if(key != typeLabel) { %>
      <button class="accordion" alt="<%= key %>">
        <h4><%= key %></h4><i class="fas fa-caret-right facet-caret"></i>
      </button>
      <%- facets[key] %>
    <% } %>
  <% } %>

  <script type="text/javascript">
    function selectFacet(facetType, facet, baseUrl) {

      // Get search querystring
      var searchUrl = encodeURI("/search?type=all&q=&f[" + facetType + "][]=" + facet);
      //return baseUrl + searchUrl;
      window.location.assign(baseUrl + searchUrl);
    };

    function removeFacet(facetType, facet, baseUrl) {

      // Get the facet param string to remove from the search querystring
      var facetParam = "&f[" + facetType + "][]=" + facet;

      // Get current search querystring
      var searchUrl = decodeURIComponent(window.location.href.replace(baseUrl, ""))

      // Remove the selected facet param from the search querystring
      var searchUrl = encodeURI(url.replace(facetParam, ""));
      //return baseUrl + searchUrl;
      window.location.assign(baseUrl + searchUrl);
    };
  </script>
</div>