<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Special Collections @ DU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="<%- root_url %>/favicon.ico"> 
    <link rel="stylesheet" href="<%- root_url %>/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/style.css">
    <link rel="stylesheet" href="<%- root_url %>/assets/css/responsive.css">
    <link rel="stylesheet" href="<%- root_url %>/assets/css/temp.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="<%- root_url %>/assets/css/video-js.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%- root_url %>/libs/universalviewer/dist/uv.css">
    <link rel="stylesheet" href="<%- root_url %>/assets/css/update.css">
    <link rel="stylesheet" href="<%- root_url %>/assets/css/jquery-ui.css">

    <script src="<%- root_url %>/assets/js/external/jquery-1.12.4.js"></script>
    <script src="<%- root_url %>/assets/js/external/jquery-ui.js"></script>
    <script src="<%- root_url %>/libs/jwplayer_du/jwplayer-du.js"></script>
    <script src="<%- root_url %>/libs/openseadragon/openseadragon.min.js"></script>
    <script src="<%- root_url %>/libs/universalviewer/dist/lib/offline.js"></script>
    <script src="<%- root_url %>/libs/universalviewer/dist/helpers.js"></script>
    <script src="<%- root_url %>/config/configuration.js" type="module"></script>
    <script src="<%- root_url %>/views/global.events.js" type="module"></script>
</head>

<body>
  <div id="main-wrapper">
    <header>
      <div class="w-100 wrapper">
        <div class="row no-side-margin">
          <div class="col-md-12">
            <div class="header-logo">
                    <a href="https://library.du.edu" title="University Libraries" target="_blank"><img src="<%- root_url %>/assets/img/logo2.gif" alt="University of Denver Logo" /></a>
                </div>
          </div>
        </div>
      </div>

      <style>
        .maintenance {
          background-color: #8b2332;
          color: white;
          position: relative;
          left: 18px;
          bottom: 34px;
          line-height: 24px;
        }
      </style>
    </header>
    
    <main role="main">
      <div class="w-100 wrapper">
