<div class="paginator">
  <span><% if(pagination.buttons.prev > 0) { %><< <a href="<%= pagination.path.prev %>">Previous</a> | <% } %><strong><%= pagination.beginCount %> - <%= pagination.pageHits %></strong> of <strong><%= pagination.totalHits %></strong><% if(pagination.buttons.next > 0) { %> | <a href="<%= pagination.path.next %>">Next</a> >><% } %></span>
</div>