<% include partials/header %>
<% include partials/title-banner %>

<div id="main" class="content container">
	<div id="collection-breadcrumbs">
		<% if (collection_breadcrumb_trail) { %>
    		<%- collection_breadcrumb_trail %>
    	<% } %>
	</div>
    <div id="facet-breadcrumbs">
    	<a href="<%= rootUrl %>">Start Over</a>
    	<% if (facet_breadcrumb_trail) { %>
    		<%- facet_breadcrumb_trail %>
    	<% } %>
    </div>
    <div class="content-col-3">
	    <div id="result-facets-wrapper" class="sidebar">
	      <div class="result-facets">
	        <h4>Facets</h4>
	        <hr>
	        <% include partials/facets %>
	      </div>
	    </div>
    </div>

    <div class="content-col-9">
        	<div id="collections">
	            <h4><%= current_collection_title %></h4>
	            <hr>

	            <% if(error) { %>
		  			<h5><%- error %></h5>
		  		<% } else { %>

			  		<% include partials/paginator %>

		            <div id="collection-grid">
						<% for (var i = 0; i < collections.length; i++) { %>
							<dl class="item">
								<dt>
									<a href="<%= base_url %><%= collections[i].path %>/<%= collections[i].pid %>">
			            				<div class="item-thumb">
									  		<img src="<%= collections[i].tn %>" alt="Thumb Image">
										</div>
									</a>
								</dt>
								<dd>
									<div class="item-details">
									  	<h3 class="item-title"><a href="<%= base_url %><%= collections[i].path %>/<%= collections[i].pid %>"><%= collections[i].title %></a></h3>
									</div>
								</dd>
							</dl>
						<% } %>
		          	</div>
	          	<% } %>
        	</div>
      	</div>
  </div>

<% include partials/footer %>





