<%- include('partials/header') -%>
<%- include('partials/banner') -%>

<div id="frontpage-content" class="row no-side-margin section content">
	<% if(collections && collections.length > 0) { %>
		<div id="sidebar" class="col-md-3 .col-sm-4">
			<h3>Browse by</h3>
			<hr>
			<%- include('partials/frontpage-facets') -%>
		</div>
	<% } %>

	<div id="page-content" class="col-md-9 .col-sm-8">
		<div id="home-collections">
			<% if(collections && collections.length > 0) { %>
				<a id="collections"></a>
				<h3>Collections</h3>
				<br/>
				<div class="content-message"><h6>Notice: Our digital collections contain materials that are racist, sexist, and may be painful or traumatizing to researchers.</h6></div>
				<hr>
			<% } %>
			<% if(error) { %>
	  			<h5><%- error %></h5>
	  		<% } else { %>
	  			<%- include('partials/paginator') -%>
				<div class="row">
					<% for (var i = 0; i < collections.length; i++) { %>
						<div class="col-sm-3 collection-thumb">
							<dl class="item">
								<a href="<%= root_url %>/object/<%= collections[i].pid %>">
									<dt>
										<div class="item-thumb">
											<img src="<%= root_url %>/datastream/<%= collections[i].pid %>/TN" alt="<%= collections[i].title %>">
										</div>
									</dt>
									<dd>
										<div class="item-details">
											<h4 class="item-title"><%= collections[i].title %></h4>
										</div>
									</dd>
								</a>
							</dl>
						</div>
					<% } %>
				</div>
				<%- include('partials/paginator') -%>
			<% } %>
		</div>
	</div>
</div>

<script>
	<%if(typeof logMsg != "undefined") { %>
		console.log("<%= logMsg %>");
	<% } %>
</script>
<script src="<%- root_url %>/views/homepage.events.js" type="module"></script>
<script src="<%- root_url %>/views/results.events.js" type="module"></script>

<%- include('partials/footer') -%>

