<%- include('partials/header') -%>
<%- include('partials/title-banner') -%>

<div class="row collection-breadcrumbs">
	<div class="col-md-12">
		<% if (collection_breadcrumb_trail) { %>
			<%- collection_breadcrumb_trail %>
		<% } %>
	</div>
</div>

<div class="row facet-breadcrumbs">
	<div class="col-md-12">
		<% if (facet_breadcrumb_trail) { %>
			<%- facet_breadcrumb_trail %>
		<% } %>
	</div>
</div>

<div class="row no-side-margin section content results-display">
	<% if(error) { %>
	    <br><br>
  		<h6><%- error %></h6>
  	<% } else { %>
		<div class="col-md-3">
			<div class="sidebar-section">
				<h4>Search This Collection</h4>
				<hr>
				<%- include('partials/sidebar-search') -%>
			</div>
			<div class="result-facets sidebar-section">
				<% if(results.length > 0) { %>
				  <h4>Filter By</h4>
				  <hr>
				<% } %>
				<%- include('partials/facets') -%>
				<%- include('partials/daterange-search') -%>
			</div>
		</div>


		<div class="col-md-9 collections-wrapper">
			<h2><%= current_collection_title %></h2>
  			<span class="search-results-menu-group">
	  			<div class="search-results-menu-element">
			        <select id="results-per-page" class="form-control" title="Select Number of Results per Page">
			            <% for (var i = 0; i < options.perPageCountOptions.length; i++) { %>
			              <% if(options.perPageCountOptions[i] == options.pageSize) { %>
			                <option value="<%= options.perPageCountOptions[i] %>" selected><%= options.perPageCountOptions[i] %> per page</option>
			              <% } else { %>
			                <option value="<%= options.perPageCountOptions[i] %>"><%= options.perPageCountOptions[i] %> per page</option>
			              <% } %>
			            <% } %>
			        </select>
			    </div>
			    <div class="search-results-menu-element">
			        <select id="sort-by-select" class="form-control" title="Select Sort Results By">
			            <% for (var key in options.sortByOptions) { %>
			                <% if(options.sortByOptions[key] == sortType) { %>
			                  <option value="<%= options.sortByOptions[key] %>" selected>Sort By <%= key %></option>
			                <% } else { %>
			                  <option value="<%= options.sortByOptions[key] %>">Sort By <%= key %></option>
			                <% } %>
			            <% } %>
			        </select>
			    </div>
			</span>
			<br/><br/>
            <div class="content-message">
                <p>
                Notice: Our digital collections contain materials that are racist, sexist, and may be painful or traumatizing to researchers.
                </p>
            </div>
		    <hr>		    
            <div class="collection-abstract">
                <p>Collection Description: <%= current_collection_abstract.replace(/(<([^>]+)>)/ig,"") %></p>
            </div>
  			<%- include('partials/paginator') -%>
  			<div id="collections">
  				<div class="row">
  					<% if(results.length > 0) { %>
		  				<% for (var i = 0; i < results.length; i++) { %>
		  					<div class="col-sm-3 collection-thumb">
								<dl class="item">
									<a href="<%= root_url %><%= results[i].path %>/<%= results[i].pid %>">
										<dt>
											<div class="item-thumb">
												<img src="<%= results[i].tn %>" alt="<%= results[i].title %>">
											</div>
										</dt>
										<dd>
											<div class="item-details">
												<h3 class="item-title"><%= results[i].title %></h3>
											</div>
										</dd>
									</a>
								</dl>
							</div>
		  				<% } %>
		  			<% } else { %>
		  				<strong>No collection items found</strong>
		  			<% } %>
	  			</div>
	    	</div>
	    	<%- include('partials/paginator') -%>
		</div>
	<% } %>
</div>

<script>
	<%if(typeof logMsg != "undefined") { %>
		console.log("<%= logMsg %>");
	<% } %>
</script>

<script src="<%- root_url %>/views/results.events.js" type="module"></script>

<%- include('partials/footer') -%>





