<% include partials/header %>
<% include partials/title-banner %>

	<div id="main">

	    <div id="viewer-section">
	      <div id="viewer-message">
	    	<h4>Loading...</h4>
	      </div>
	      <div id="viewer-wrapper">
	        <!-- Dummy -->
	        <%- viewer %>
	      </div>
	    </div>

	    <div id="metadata-section">

	      <div id="object-options">
	        <div class="container">
	          <span>
	            <!-- <button>View Details</button> -->
	            <button class="collapsible">View Details</button>
	            <button>Download Item</button>
	          </span>
	        </div>
	      </div>

	      <div class="container">
	        <div id="mods-display" class="metadata-content">
	            <table class="data-table">
	              <% for (var key in mods) { %>
					<tr><td><%= key %></td>
					<% if(typeof mods[key] == "object") { %>
						<td>
						<% for (var subkey in mods[key]) { %>
							<p><%= mods[key][subkey] %></p>
						<% } %>
						</td></tr>
					<% } else { %>
						<td><p><%= mods[key] %></p></td></tr>
					<% } %>
				  <% } %>
	            </table>
	        </div>
	        <div id="object-data">
	          <% for (var key in summary) { %>
				<h3><%= key %></h3>
				<p><%= summary[key] %></p>
			  <% } %>
	        </div>
	      </div>

	    </div>


	</div>

<% include partials/footer %>
