<%- include('partials/header') -%>
<%- include('partials/title-banner') -%>

<div id="viewer-section" class="<% if(error) { %>object-view-error<% } %>">
  <% if(error) { %>
    <h5><%- error %></h5>
  <% } %>
	<br/>
  <div class="content-message">Notice: Our digital collections contain materials that are racist, sexist, and may be painful or traumatizing to researchers.</div>
  <br/>

  <div class="viewer-wrapper row">
    <% if(returnLink) { %>
      <div class="left-float-anchor-list"><a href="<%= returnLink %>" alt="Return to search results">Return to search results</a></div>
    <% } %>
    <div id="object-view" class="col-md-12">
      <%- viewer %>
    </div>

    <div id="transcript-view-wrapper">
      <div id="transcript-view">
        <%= transcript %>
      </div>
    </div>
  </div>

  <!-- Collapsed download link section. Disabled until update for multiple download options 6/25/20 -->
  <!-- <div class="download-links panel-collapsed">
    <ul>
      <% for (var link in downloads) { %>
        <li><a href="<%= downloads[link].uri %>" download><%= downloads[link].filename %></a></li>
      <% } %>
    </ul>
  </div> -->
</div>

<div id="metadata-section">
  <div class="object-options">
    <div class="container">
        <span id="object-view-controls">
          <% if(citations) { %>
            <button id="view-citations" alt="View Citations" type="button">Cite This Item</button>
          <% } %>
          <% if(downloads.length > 0) { %> <!-- Loop downloads object here for multiple links for(link of downloads)-->
            <% if(downloads[0].isBatch) { %>
              <a class="batch-file-download" href="<%= downloads[0].uri %>" download><button class="download-button" alt="Download <%= downloads[0].extension %>">Download <%= downloads[0].extension %></button></a>
            <% } else { %>
              <a class="file-download" href="<%= downloads[0].uri %>" download><button class="download-button" alt="Download <%= downloads[0].extension %>">Download <%= downloads[0].extension %></button></a>
            <% } %>
          <% } %>
          <% if(transcript) { %>
            <button id="view-transcript" alt="View Transcript" type="button">View Transcript</button>
          <% } %>
        </span>
    </div>
  </div>

  <div id="file-download-progress" class="container" style="display: none">
    <span><h6>Downloading, please wait...</h6></span><span><button id="batch-file-download-cancel">Cancel</button></span>
  </div>


  <% if(citations) { %>
    <div class="container object-citations citation-text panel-collapsed">
      <div class="citation-text row">
        <% for(index in citations) { %>
          <% if(index % 2 == 0) { %>
            <div class="col-md-6">
              <div class="citation">
                <h5><%= citations[index].format %> Format</h5>
                <hr>
                <p><%= citations[index].citation %></p>
              </div>
          <% } else { %>
              <div class="citation">
                <h5><%= citations[index].format %> Format</h5>
                <hr>
                <p><%= citations[index].citation %></p>
              </div>
            </div>
          <% } %>
        <% } %>
        <% if(citations.length % 2 != 0) { %>
            <div class="citation"></div>
          </div>
        <% } %>
      </div>
    </div>
  <% } %>

  <div class="container mods-display metadata-content">
    <div class="table-responsive">
        <table class="table data-table">
          <tr style="display: none;">
            <th scope="col">Data Type</th>  
            <th scope="col">Value</th>  
          </tr>
          <% for (var key in metadata) { %>
            <tr>
              <td class="table-label" scope="row"><%= key %></td>
            <% if(typeof metadata[key] == "object") { %>
              <td>
              <% for (var subkey in metadata[key]) { %>
                <p><%- metadata[key][subkey] %></p>
            <% } %>
            </td></tr>
            <% } else { %>
              <td><p><%- metadata[key] %></p></td></tr>
            <% } %>
          <% } %>
        </table>
      </div>
    </div>
  </div>
</div>

<% if(typeof logMsg != "undefined") { %>
  <script>
    console.log("<%= logMsg %>");
  </script>
<% } %>

<%- include('partials/footer') -%>
