<% include partials/header %>
<% include partials/title-banner %>

<div id="viewer-section" class="<% if(error) { %>object-view-error<% } %>">
  <% if(error) { %>
    <h5><%- error %></h5>
  <% } %>

  <div class="viewer-wrapper row">
    <div id="object-view" class="col-md-12">
      <%- viewer %>
    </div>

    <div id="transcript-view-wrapper">
      <div id="transcript-view">
        <%= transcript %>
      </div>
    </div>
  </div>

  <div id="download-links">
    <ul>
      <% for (var link in downloadLinks) { %>
        <li><a href="<%= downloadLinks[link] %>" download><%= downloadLinks[link] %></a></li>
      <% } %>
    </ul>
  </div>
</div>

<div id="metadata-section">

  <div class="object-options">
    <div class="container">
        <span id="object-view-controls">
          <!-- <button class="collapsible" alt="View Details">View Details</button> -->
          <!-- <button id="file-download" class="download-button disabledbutton" alt="Download Item">Download File</button> -->
          <% if(transcript) { %>
            <button id="view-transcript" alt="View Transcript" type="button">View Transcript</button>
          <% } %>
        </span>
    </div>
  </div>

  <div class="container">
    <!-- <div class="table-responsive mods-display metadata-content" style="display: none"> --> <!-- If hidden by default, shown with 'view details' button -->
    <div class="table-responsive mods-display metadata-content">
        <table class="table data-table" summary="<% for (var key in summary) { %><%= summary[key] %> <% } %>">
          <tr style="display: none;">
            <th scope="col">Data Type</th>  
            <th scope="col">Value</th>  
          </tr>
          <% for (var key in metadata) { %>
            <tr>
              <td class="table-label" scope="row"><%= key %></td>
            <% if(typeof metadata[key] == "object") { %>
              <td>
              <% for (var subkey in metadata[key]) { %>
                <p><%- metadata[key][subkey] %></p>
            <% } %>
            </td></tr>
            <% } else { %>
              <td><p><%- metadata[key] %></p></td></tr>
            <% } %>
          <% } %>
        </table>
      </div>
    </div>
  </div>

</div>

<% if(devError) { %>
  <script>
    console.log("<%= devError %>");
  </script>
<% } %>

<% include partials/footer %>