<%- include('partials/header') -%>
<%- include('partials/title-banner') -%>

<div id="viewer-section" class="<% if(error) { %>object-view-error<% } %>">
  <% if(error) { %>
    <h5><%- error %></h5>
  <% } %>
	<br/>
  <div class="content-message">Notice: Our digital collections contain materials that are racist, sexist, and may be painful or traumatizing to researchers.</div>
  <br/>

  <div class="viewer-wrapper row">
    <% if(returnLink) { %>
      <div class="left-float-anchor-list"><a href="<%= returnLink %>" alt="Return to search results">Return to search results</a></div>
    <% } %>
    <div id="object-view" class="col-md-12">
      <%- viewer %>
    </div>

    <div id="transcript-view-wrapper">
      <div id="transcript-view">
        <%= transcript %>
      </div>
    </div>
  </div>

  <!-- <div class="download-links container panel-collapsed">
    <ul>
      <% for (var i in downloads) { %>
        <% if(downloads[i].isBatch) { %>
          <li><button class="download-button" alt="Download <%= downloads[i].extension %>" value="<%= downloads[i].uri %>">Download ZIP file (all images)</button></li>
        <% } else { %>
          <li><a href="<%= downloads[i].uri %>" download="<% downloads[i].filename %>">Download <%= //downloads[i].extension.toUpperCase() %></a></li>
        <% } %>
      <% } %>
    </ul>
  </div> -->
</div>

<div id="metadata-section">
<div id="metadata-section">
  <div class="object-options">
    <div class="container">
        <span id="object-view-controls">
          <% if(citations) { %>
            <button id="view-citations" alt="View Citations" type="button">Cite This Item</button>
          <% } %>

          <!-- Single download option -->
          <% if(downloads.length == 1) { %>
            <% if(downloads[0].isBatch) { %>
              <button class="download-button batch-download-button" alt="Download <%= downloads[0].extension %> file" value="<%= downloads[0].uri %>">Download ZIP file (all items)</button>
            <% } else { %>
              <button class="download-button" alt="Download <%= downloads[0].extension %> file" value="<%= downloads[0].uri %>">Download <%= downloads[0].extension.toUpperCase() %></button>
            <% } %>

          <!-- Multiple download options -->
          <% } else if(downloads.length > 1) { %>
            <div class="download-links-wrapper">
              <span class="download-links">
                  <select>
                    <% for (var i in downloads) { %>
                      <% if(downloads[i].isBatch) { %>
                        <option class="batch-download-option" alt="Download <%= downloads[i].extension %>" value="<%= downloads[i].uri %>">Download ZIP file (all items)</option>
                      <% } else { %>
                        <option alt="Download <%= downloads[i].extension %>" value="<%= downloads[i].uri %>">Download <%= downloads[i].extension.toUpperCase() %></option>
                      <% } %>
                    <% } %>
                  </select>
              </span>
              <span class="submit-download-selection">
                <% for (var i in downloads) { %>
                  <% if(downloads[i].isBatch) { %>
                    <button id="download-button__<%= i %>" class="download-button batch-download-button" alt="Download <%= downloads[i].extension %> file" style="display: <%= i == 0 ? 'inline-block' : 'none'; %>" value="<%= downloads[i].uri %>">Go</button>
                  <% } else { %>
                    <button id="download-button__<%= i %>" class="download-button" alt="Download <%= downloads[i].extension %> file" style="display: <%= i == 0 ? 'inline-block' : 'none'; %>" value="<%= downloads[i].uri %>">Go</button>
                  <% } %>
                <% } %>
              </span>
            </div>
          <% } %>

          <% if(transcript) { %>
            <button id="view-transcript" alt="View Transcript" type="button">View Transcript</button>
          <% } %>
        </span>
    </div>
  </div>

  <div id="file-download-progress" class="container" style="display: none"></div>

  <% if(citations) { %>
    <div class="container object-citations citation-text panel-collapsed">
      <div class="citation-text row">
        <% for(index in citations) { %>
          <% if(index % 2 == 0) { %>
            <div class="col-md-6">
              <div class="citation">
                <h5><%= citations[index].format %> Format</h5>
                <hr>
                <p><%= citations[index].citation %></p>
              </div>
          <% } else { %>
              <div class="citation">
                <h5><%= citations[index].format %> Format</h5>
                <hr>
                <p><%= citations[index].citation %></p>
              </div>
            </div>
          <% } %>
        <% } %>
        <% if(citations.length % 2 != 0) { %>
            <div class="citation"></div>
          </div>
        <% } %>
      </div>
    </div>
  <% } %>

  <div class="container mods-display metadata-content">
    <div class="table-responsive">
        <table class="table data-table">
          <tr style="display: none;">
            <th scope="col">Data Type</th>  
            <th scope="col">Value</th>  
          </tr>
          <% for (var key in metadata) { %>
            <tr>
              <td class="table-label" scope="row"><%= key %></td>
            <% if(typeof metadata[key] == "object") { %>
              <td>
              <% for (var subkey in metadata[key]) { %>
                <p><%- metadata[key][subkey] %></p>
            <% } %>
            </td></tr>
            <% } else { %>
              <td><p><%- metadata[key] %></p></td></tr>
            <% } %>
          <% } %>
        </table>
      </div>
    </div>
  </div>
</div>

<% if(typeof logMsg != "undefined") { %>
  <script>
    console.log("<%= logMsg %>");
  </script>
<% } %>

<script src="<%- root_url %>/views/object.events.js" type="module"></script>
<script src="<%- root_url %>/views/universalviewer.events.js"></script>

<%- include('partials/footer') -%>
