<% include partials/header %>
<% include partials/title-banner %>

<div id="viewer-section">
  <% if(error) { %>
    <h5><%- error %></h5>
  <% } %>

  <div class="viewer-wrapper row">
    <div class="col-md-12">
      <%- viewer %>
    </div>
  </div>
</div>

<div id="metadata-section">

  <div class="object-options">
    <div class="container">
        <span id="object-view-controls">
          <button class="collapsible" alt="View Details">View Details</button>
          <button id="file-download" alt="Download Item" disabled>Download Item</button>
        </span>
    </div>
  </div>

  <div class="container">
    <div class="table-responsive mods-display metadata-content ">
        <table class="table data-table" summary="<% for (var key in summary) { %><%= summary[key] %> <% } %>">
          <tr style="display: none;">
            <th scope="col">Data Type</th>  
            <th scope="col">Value</th>  
          </tr>
          <% for (var key in mods) { %>
            <tr>
              <td scope="row"><%= key %></td>
            <% if(typeof mods[key] == "object") { %>
              <td>
              <% for (var subkey in mods[key]) { %>
                <p><%- mods[key][subkey] %></p>
            <% } %>
            </td></tr>
            <% } else { %>
              <td><p><%- mods[key] %></p></td></tr>
            <% } %>
          <% } %>
        </table>
      </div>
    </div>
  </div>

  <div class="object-data container">
    <% for (var key in summary) { %>
      <h3><%= key %></h3>
      <p><%= summary[key] %></p>
    <% } %>
  </div>

</div>

<% include partials/footer %>