<link rel="stylesheet" href="<%- root_url %>/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/style.css">

<% if(error) { %>
  <h5><%- error %></h5>
<% } %>
<%- content %>

<script><%- script %></script>