<link rel="stylesheet" href="<%- root_url %>/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="<%- root_url %>/libs/universalviewer/uv/uv.css">
<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/uv-ddu.css">
<script src="<%- root_url %>/libs/universalviewer/uv/lib/offline.js"></script>
<script src="<%- root_url %>/libs/universalviewer/uv/helpers.js"></script>
<script src="<%- root_url %>/assets/js/uv-events.js"></script>

<% if(error) { %>
  <h5><%- error %></h5>
<% } %>
<%- content %>
<%- root_url %>

<script src="<%- root_url %>/libs/universalviewer/uv/uv.js"></script>