<% include partials/header %>

<div id="main">
	<span id="site-title">Special Collections @ DU</span>
	<% include partials/banner %>

	<% include partials/search %>

	<div id="content">

		<div id="facet-breadcrumbs">
			<%- facet_breadcrumb_trail %>
		</div>

		<div id="pagination-header">
			<span>Showing results <strong><%- pageData.pageStart%> - <%-pageData.pageTotal%></strong> of <strong><%- pageData.total%></strong></span>
		</div>
		
		<% include partials/facets %>

		<div id="search-results">
			<% if (results && results.length > 0) { %>
					<% results.forEach(function(result) { %>

						<div id="search-result">

							<!-- Thumbnail -->
				            <dl class="search-result-tn">
				            	<dt>
				              		<a href="/repository/object/<%- result.pid%>" title="<%- result.title %>"><img typeof="foaf:Image" src="<%- result.tn %>" alt="Img" /></a>            
				              	</dt>
				            <dd></dd>
				          	</dl>

				          	<!-- Metadata -->
				          	<dl class="search-result-data">
                          		<dt class="">Title:</dt>
              					<dd class=""><a href="/repository/object/<%- result.pid%>"><%- result.title %></a></dd>
                          		<% if (result.namePersonal) { %>
									<dt>Creator:</dt>
									<dd><%- result.namePersonal %></dd>
								<% } %>

								<% if (result.abstract) { %>
									<dt>Description:</dt>
									<dd id="result-description"><%- result.abstract %></dd>
								<% } %>
                      		</dl>
						</div>

					<% }); %>
					
			<% } else { %>
				<h3>No results found</h3>
			<% } %>
		</div>
	</div>
</div>

<% include partials/footer %>