<%- include('partials/header') -%>
<%- include('partials/title-banner') -%>

<div class="banner-search section content">
    <form method="get" action="<%= root_url %>/search">
        <input type="text" name="q[]" placeholder="Search Repository" title="Search Repository"/>
        <input type="hidden" name="type[]" value="contains">
        <input type="hidden" name="bool[]" value="or">
        <input type="hidden" name="field[]" value="all">
        <button alt="Search" title="Submit"><i class="fas fa-search"></i></button>
    </form>
</div>

<div class="facet-breadcrumbs">
  <% if (isAdvancedSearch) { %>
    <a id="advanced-search-return-link" href="<%- root_url %>/advanced-search">Return to Advanced Search</a>
  <% } %>

  <% if (facet_breadcrumb_trail) { %>
    <a id="new-search-link" href="<%- root_url %>">Start Over</a>
    <%- facet_breadcrumb_trail %>
  <% } %>
</div>

<div class="row no-side-margin section content">
  <div class="col-md-3">
    <div class="result-facets facets sidebar-section">
      <% if(results.length > 0) { %>
        <h4>Limit Your Search</h4>
        <hr>
      <% } %>
      <%- include('partials/facets') -%>
      <%- include('partials/daterange-search') -%>
    </div>
  </div>

  <div id="search-results-wrapper" class="col-md-9">

    <% if(error) { %>
      <h5><%- error %></h5>
    <% } else { %>

      <% if(query.length >= 0) { %>
        <div class="search-results-menu">
          <% if(query.length > 1) { %>
            <div class="search-terms-label">
              <h4>Results for: <span><%- query %></span></h4>
            </div>
          <% } %>
          <span class="search-results-menu-group">
            <div class="search-results-menu-element">
              <select id="results-per-page" class="form-control" title="Select Number of Results per Page">
                  <% for (var i = 0; i < options.perPageCountOptions.length; i++) { %>
                    <% if(options.perPageCountOptions[i] == options.pageSize) { %>
                      <option value="<%= options.perPageCountOptions[i] %>" selected><%= options.perPageCountOptions[i] %> per page</option>
                    <% } else { %>
                      <option value="<%= options.perPageCountOptions[i] %>"><%= options.perPageCountOptions[i] %> per page</option>
                    <% } %>
                  <% } %>
              </select>
            </div>

            <div class="search-results-menu-element">
              <select id="results-view-select" class="form-control" title="Select Results View">
                  <% for (var i = 0; i < options.resultsViewOptions.length; i++) { %>
                    <% if(options.resultsViewOptions[i] == view) { %>
                      <option value="<%= options.resultsViewOptions[i] %>" selected><%= options.resultsViewOptions[i] %> View</option>
                    <% } else { %>
                      <option value="<%= options.resultsViewOptions[i] %>"><%= options.resultsViewOptions[i] %> View</option>
                    <% } %>
                  <% } %>
              </select>
            </div>
          </span>
          <div class="search-results-menu-element">
            <select id="sort-by-select" class="form-control" title="Select Sort Results By">
                <% for (var key in options.sortByOptions) { %>
                    <% if(options.sortByOptions[key] == sortType) { %>
                      <option value="<%= options.sortByOptions[key] %>" selected>Sort By <%= key %></option>
                    <% } else { %>
                      <option value="<%= options.sortByOptions[key] %>">Sort By <%= key %></option>
                    <% } %>
                <% } %>
            </select>
          </div>
        </div>
      <% } %>

      <hr>
	<br/>
	<div class="content-message"><h6>Notice: Our digital collections contain materials that are racist, sexist, and may be painful or traumatizing to researchers.</h6></div>
      <%- include('partials/paginator') -%>

      <% if(typeof view != 'undefined' && view == "Grid") { %>

        <div class="search-results-grid">
          <% if(results.length > 0) { %>
            <div class="row">
              <% for (var i = 0; i < results.length; i++) { %>
                <div class="col-sm-3 thumb">
                  <dl class="item">
                    <a href="<%= root_url %>/object/<%= results[i].pid %>">
                      <dt>
                        <div class="item-thumb">
                          <img src="<%= results[i].tn %>" alt="<%= results[i].title %>">
                        </div>
                      </dt>
                      <dd>
                        <div class="item-details">
                          <h4 class="item-title"><%= results[i].title %></h4>
                        </div>
                      </dd>
                      <dd>
                        <div class="item-details">
                          <%= results[i].creator %>
                        </div>
                      </dd>
                    </a>
                  </dl>
                </div>
              <% } %>
            </div>
          <% } %>
        </div>

      <% } else { %>
        <div class="search-results-list container">
          <% if(results.length > 0) { %>
            <% for (var i = 0; i < results.length; i++) { %>
              <div class="row search-result">
                <div class="col-md-9 search-result-data">
                  <dl>
                    <dt class="result-title"><%= (i+1)+((page-1)*options.pageSize) %>.&nbsp&nbsp<a href="<%= root_url %>/object/<%= results[i].pid %>"><%= results[i].title %></a></dt><dd></dd>
                      <% for (var key in results[i].metadata) { %>
                        <% if(key.length > 0) { %>
                        <dt>
                          
                            <%- key %>:
                          
                        </dt>
                        <dd><%= results[i].metadata[key] %></dd>
                        <% } else { %>
                        <p><%= results[i].metadata[key] %></p>
                        <% } %>
                      <% } %>
                  </dl>
                </div>
                <div class="col-md-3 search-result-tn">
                    <a href="<%= root_url %>/object/<%= results[i].pid %>" title="<%= results[i].title %>"><img src="<%= results[i].tn %>" alt="<%= results[i].title %>"/></a>            
                </div>
              </div>
            <% } %>
          <% } else { %>
            <span>No results found</span>
          <% } %>
        </div>
      <% } %>
      <% if(results.length > 0) { %>
        <%- include('partials/paginator') -%>
      <% } %>
    <% } %>
  </div>
</div>

<script>
  <%if(typeof logMsg != "undefined") { %>
    console.log("<%= logMsg %>");
  <% } %>
</script>

<script src="<%- root_url %>/views/results.events.js" type="module"></script>

<%- include('partials/footer') -%>

