<% include partials/header %>

<!-- TODO include ext title banner (with search box -->

  <!--Logo banner -->
  <div id="title-banner">
    <div class="container">
    <div id="title-text" class="col-sm-6 cul">
            <a class="sm-title" href="http://www.library.du.edu">University Libraries</a>
            <h1><a class="title" href="/">SPECIAL COLLECTIONS <span class="highlight-text">@ DU</span></a></h1>
        </div>
    </div>
  </div>

  <div id="main" class="content container demo-test-view">
    <div id="facet-breadcrumbs">
      <!-- <a href="#">Start Over</a><a href="#" class="facet-breadcrumb"><span>All Fields</span><i class="fa fa-chevron-right"></i><span>Baseball</span><i class="fa fa-times"></i></a> -->
    </div>
    <div id="result-facets-wrapper" class="content-col-3 sidebar">
      <div class="result-facets">
        <h4>Limit Your Search</h4>
        <hr>

        <% include partials/facets %>

      </div>
    </div>

    <div id="search-results-wrapper" class="content-col-9">
      <div class="search-results">

        <% if(error) { %>
          <h5><%- error %></h5>
        <% } else { %>

            <% include partials/paginator %>
            
            <hr>
            <div id="result-list" class="content">
              <% for (var i = 0; i < results.length; i++) { %>

                <div class="search-result">
                    <dl class="search-result-tn">
                        <dt>
                            <a href="<%= root_url %>/object/<%= results[i].pid %>" title="<%= results[i].title %>"><img src="<%= results[i].tn %>" alt="<%= results[i].title %>" /></a>            
                        </dt>
                    <dd></dd>
                    </dl>
                    <dl class="search-result-data">
                        <dt class="result-title"><%= i+1 %>.&nbsp&nbsp<a href="<%= root_url %>/object/<%= results[i].pid %>"><%= results[i].title %></a></dt>
                            <dd></dd>
                        <!-- <dd class=""><a href="#">search result</a></dd> -->
                            <dt>Creator:</dt>
                            <dd><%= results[i].creator %></dd>
                            <dt>Description:</dt>
                            <dd id="result-description"><%= results[i].abstract %></dd>
                    </dl>
                </div>

              <% } %>  
          </div>
        <% } %>
      </div>
    </div>
  </div>

<% include partials/footer %>