<% include partials/header %>
<% include partials/title-banner %>

<!--   <div id="main" class="content container demo-test-view"> -->
<div class="facet-breadcrumbs">
  <% if (facet_breadcrumb_trail) { %>
    <%- facet_breadcrumb_trail %>
  <% } %>
</div>

<div class="row no-side-margin section content">
  <div class="col-md-3">
    <% if(results.length > 0) { %>
      <div class="result-facets facets sidebar-section">
        <h4>Limit Your Search</h4>
        <hr>
        <% include partials/facets %>
        <% include partials/daterange-search %>
      </div>
    <% } else { %>
      <% include partials/daterange-search %>
    <% } %>
  </div>

  <div id="search-results-wrapper" class="col-md-9">

    <% if(error) { %>
      <h5><%- error %></h5>
    <% } else { %>

      <% if(query.length >= 0) { %>
        <div class="search-results-menu">
          <div class="search-terms-label">
            <h4>Results for: <span><%- query %></span></h4>
          </div>
          <div class="search-results-menu-element">
            <select id="results-per-page" class="form-control" title="Select Number of Results per Page">
                <% for (var i = 0; i < options.perPageCountOptions.length; i++) { %>
                  <% if(options.perPageCountOptions[i] == options.pageSize) { %>
                    <option value="<%= options.perPageCountOptions[i] %>" selected><%= options.perPageCountOptions[i] %> per page</option>
                  <% } else { %>
                    <option value="<%= options.perPageCountOptions[i] %>"><%= options.perPageCountOptions[i] %> per page</option>
                  <% } %>
                <% } %>
            </select>
          </div>

          <div class="search-results-menu-element">
            <select id="results-view-select" class="form-control" title="Select Results View">
                <% for (var i = 0; i < options.resultsViewOptions.length; i++) { %>
                  <% if(options.resultsViewOptions[i] == view) { %>
                    <option value="<%= options.resultsViewOptions[i] %>" selected><%= options.resultsViewOptions[i] %> View</option>
                  <% } else { %>
                    <option value="<%= options.resultsViewOptions[i] %>"><%= options.resultsViewOptions[i] %> View</option>
                  <% } %>
                <% } %>
            </select>
          </div>
        </div>
      <% } %>

      <hr>
      <% include partials/paginator %>

      <% if(typeof view != 'undefined' && view == "Grid") { %>

        <div class="search-results-grid">
          <% if(results.length > 0) { %>
            <div class="row">
              <% for (var i = 0; i < results.length; i++) { %>
                <div class="col-sm-3 thumb">
                  <dl class="item">
                    <a href="<%= root_url %>/object/<%= results[i].pid %>">
                      <dt>
                        <div class="item-thumb">
                          <img src="<%= results[i].tn %>" alt="<%= results[i].title %>">
                        </div>
                      </dt>
                      <dd>
                        <div class="item-details">
                          <h4 class="item-title"><%= results[i].title %></h4>
                        </div>
                      </dd>
                      <dd>
                        <div class="item-details">
                          <%= results[i].creator %>
                        </div>
                      </dd>
                    </a>
                  </dl>
                </div>
              <% } %>
            </div>
          <% } %>
        </div>

      <% } else { %>

        <div class="search-results-list container">
          <% if(results.length > 0) { %>
            <% for (var i = 0; i < results.length; i++) { %>
              <div class="row search-result">
                <div class="col-md-9 search-result-data">
                  <dl>
                    <dt class="result-title"><%= (i+1)+((page-1)*options.pageSize) %>.&nbsp&nbsp<a href="<%= root_url %>/object/<%= results[i].pid %>"><%= results[i].title %></a></dt><dd></dd>

                      <% for (var key in results[i].metadata) { %>
                        <dt><%- key %>:</dt>
                        <dd><%= results[i].metadata[key] %></dd>
                      <% } %>



                  </dl>
                </div>
                <div class="col-md-3 search-result-tn">
                    <a href="<%= root_url %>/object/<%= results[i].pid %>" title="<%= results[i].title %>"><img src="<%= results[i].tn %>" alt="<%= results[i].title %>"/></a>            
                </div>
              </div>
            <% } %>
          <% } else { %>
            <span>No results found</span>
          <% } %>
        </div>

      <% } %>
    <% } %>
  </div>
</div>

<% include partials/footer %>

