<% include partials/header %>
<% include partials/title-banner %>

  <div id="main" class="content container demo-test-view">
    <div id="facet-breadcrumbs">
      <a href="<%= rootUrl %>">Start Over</a>
      <% if (facet_breadcrumb_trail) { %>
        <%- facet_breadcrumb_trail %>
      <% } %>
    </div>
    <div id="result-facets-wrapper" class="content-col-3 sidebar">
      <div class="result-facets">
        <h4>Limit Your Search</h4>
        <hr>

        <% include partials/facets %>

      </div>
    </div>

    <div id="search-results-wrapper" class="content-col-9">

      <% if(query.length >= 0) { %>
          <h4>Results for: <span><%- query %></span></h4>
      <% } %>

      <div class="search-results">

        <% if(error) { %>
          <h5><%- error %></h5>
        <% } else { %>
            
            <hr>
            <% include partials/paginator %>
            <div id="result-list" class="content">
              <% for (var i = 0; i < results.length; i++) { %>

                <div class="search-result">
                    <dl class="search-result-tn">
                        <dt>
                            <a href="<%= rootUrl %>/object/<%= results[i].pid %>" title="<%= results[i].title %>"><img src="<%= results[i].tn %>" alt="<%= results[i].title %>" /></a>            
                        </dt>
                    <dd></dd>
                    </dl>
                    <dl class="search-result-data">
                        <dt class="result-title"><%= i+1 %>.&nbsp&nbsp<a href="<%= rootUrl %>/object/<%= results[i].pid %>"><%= results[i].title %></a></dt>
                            <dd></dd>
                        <!-- <dd class=""><a href="#">search result</a></dd> -->
                            <dt>Creator:</dt>
                            <dd><%= results[i].creator %></dd>
                            <dt>Description:</dt>
                            <dd id="result-description"><%= results[i].abstract %></dd>
                    </dl>
                </div>

              <% } %>  
          </div>
        <% } %>
      </div>
    </div>
  </div>

<% include partials/footer %>