<link rel="stylesheet" href="<%- root_url %>/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="<%- root_url %>/libs/universalviewer/uv/uv.css">
<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/uv-ddu.css">
<script src="<%- root_url %>/libs/universalviewer/uv/lib/offline.js"></script>
<script src="<%- root_url %>/libs/universalviewer/uv/helpers.js"></script>
<script src="<%- root_url %>/views/universalviewer.events.js"></script>

<style>
	#uv {
		height: 100vh;
	}

	#uv > div > div {
		overflow-y: scroll;
	}

	#uv .mainPanel {
		height: 150% !important;
	}
</style>

<% if(error) { %>
  <h5><%- error %></h5>
<% } %>

<div class='embedded-viewer'>
<%- content %>
<% if(transcript) { %>
	<div id='transcript-view-wrapper' style='display: block;'><div id='transcript-view'>
		<%= transcript %>
	</div></div>
<% } %>
</div>

<script><%- script %></script>
<script src="<%- root_url %>/libs/universalviewer/uv/uv.js"></script>